.input-wrapper{
    display: flex;
    flex-direction: column;
    width: clamp(16rem, 18rem, 24rem);
    
}

.input-box{
    padding: 0.7rem 0.4rem;
    border-radius: 5px;
    border: 1px solid hsl(var(--secondary-color));
}

.signupForm{
    width: clamp(15rem, 18rem, 25rem);
}

.signupContainer .page-heading{
    padding-bottom: 0.5rem;
    color: var(--vl-primary);
}

.signupContainer{
    width: 22rem;
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    box-shadow: 1px 3px 8px white;
}

.signupPage{
    display: flex;
    justify-content: center;
    border: 2px solid red;
}

.signupContainer .btn{
    width: clamp(15rem,18rem,25rem);
    padding: 0.5rem;
}

.signupForm .btn-primary{
    background-color: var(--vl-primary);
    margin-bottom: 0.5rem;
}

.loginContainer{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 2rem;
    width: 22rem;
    box-shadow: 1px 3px 8px white;
}

.loginContainer .page-heading{
    color: var(--vl-primary);
}

.loginContainer .btn-primary{
    background-color: var(--vl-primary);
}

.loginPage{
    padding: 2rem;
}