.videocon-container{
    width: 16rem;
    aspect-ratio: 16/9;
    object-fit: cover;
    cursor: pointer;
    border-radius: 7px;
    padding: 1px;
    background-color: var(--bgc-light);
    position: relative;
}
