.nav-container{
    padding: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    box-shadow: 0 3px 3px 4px rgb(0 0 0/50%);
    margin-top: 1px;
}

.nav-container .btn{
    background-color: var(--vl-primary-light);
    color: var(--off-white);
    padding: 0.3rem 0.6rem;
}

.brand-image-container{
    width: 4rem;
    aspect-ratio: 2/1;
    object-fit: cover;
    cursor: pointer;
}