.home-container{
    width: 90%;
    margin: 1rem auto;
}

/* .align-content-grid{
    display: grid;
    border: 5px solid red ;
    grid-template-columns: repeat(auto-fit, (300px,1fr));
    gap: 1rem 1rem;
} */