.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-around{
    display: flex;
    gap: 0.5rem;
}
.modal-box{
    width: 30rem;
    aspect-ratio: 2/1;
    overflow: auto;
    overflow-x: hidden;
    border: 2px solid var(--vl-primary);
    padding: 1rem;
    padding-top: 0.5rem;
    border-radius: 5px;
    position: relative;
}

.input-playlist-container{
    width: 85%;
    border: 2px solid var(--vl-primary);
}

.input-box-container{
    width: inherit;
    padding: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 0;
}

.play-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    text-overflow: ellipsis;
}

.text-overflow-container{
    text-overflow: ellipsis;
}

.playlist-item{
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}