.video-container{
    width: 16rem;
    aspect-ratio: 16/9;
    object-fit: cover;
    cursor: pointer;
    border-radius: 7px;
    padding: 1px;
    background-color: var(--bgc-light);
    position: relative;
}

.align-content{
    padding: 0.6rem 0.5rem;
}

.thumbnail-container{
    border-radius: 5px;
}

.thumbnail-container img{
    border-radius: 5px;
    aspect-ratio: 16/9;
    width: 100%;
}

.ellipse{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.3rem;
}

.children-centered{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt-gray{
    color: gray;
}

.txt-label{
    line-height: 1rem;
    font-size: 0.8rem;
}

.modal-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 6rem;
    border: 1px;
    z-index: 6;
    padding: 0.3rem 0.3rem;
    border-radius: 3px;
    background-color: var(--vl-primary-light);
    position: absolute;
    bottom: 0rem;
    left: 8rem;
}

