
:root{
    --off-white: hsl(0, 0%, 98%);
    --black-color: hsl(220, 15%, 12%) ;
    --vl-primary: #1a90ff;
    --vl-primary-light: #6394c2;
    --vl-primary-lighter: #8ca9c4;
    --bgc-light: hsl(240, 4%, 14%);
    --dark-gray: #808080;
}
body{
    color: var(--off-white);
    background-color: var(--black-color);
    font-family: 'Poppins', sans-serif;
}

.app-container{
    margin-top: 1rem;
    display: flex;
}

.main-page-container{
    margin-left: 7rem;
}

.align-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.common-videolisting-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem 1rem;
}
.txt-gray-color{
    color: var(--dark-gray);
}

.txt-lg{
    font-size: 18px;
    font-weight: 500;
}

.txt-sm{
    font-size: 14px;
    line-height: 1rem;
}

.txt-xlg{
    font-size: 22px;
    font-weight: 600;
}

.cursorPointer{
    cursor: pointer;
}