
:root{
    --off-white: hsl(0, 0%, 98%);
    --black-color: hsl(220, 15%, 12%) ;
    --vl-primary: #1a90ff;
    --vl-primary-light: #6394c2;
    --bgc-light: hsl(240, 4%, 14%);
}
body{
    color: var(--off-white);
    background-color: var(--black-color);
    font-family: 'Poppins', sans-serif;
}

.app-container{
    margin-top: 1rem;
    display: flex;
}

.main-page-container{
    margin-left: 10rem;
}


