
:root{
    --off-white: hsl(0, 0%, 98%);
    --black-color: hsl(220, 15%, 12%) ;
    --vl-primary: #1363DF;
    --vl-primary-light: #47B5FF;
    --vl-primary-lighter: #DFF6FF;
    --bgc-light: hsl(240, 4%, 14%);
    --dark-gray: #808080;
}
body{
    color: var(--off-white);
    background-color: var(--black-color);
    font-family: 'Poppins', sans-serif;
}

.app-container{
    margin-top: 1rem;
    display: flex;
}

.main-page-container{
    margin-left: 7rem;
}
.msg-container{
    width: 30rem;
    height: 15rem;
    background-color: var(--vl-primary-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color:  var(--black-color);
}
.align-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.common-videolisting-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem 1rem;
}
.txt-gray-color{
    color: var(--dark-gray);
}

.txt-white-color{
    color: var(--off-white);
}
.txt-lg{
    font-size: 18px;
    font-weight: 500;
}

.txt-sm{
    font-size: 14px;
    line-height: 1rem;
}

.txt-xlg{
    font-size: 22px;
    font-weight: 600;
}

.txt-xxlg{
    font-size: 40px;
    font-weight: 600;
}
.cursorPointer{
    cursor: pointer;
}

.common-page-heading-container{
    
}